@tailwind base;
@tailwind components;
@tailwind utilities;


body { background-color: #171717; }

html, body { background-color: #171717; }

:root {
  --font-ui: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
             "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  --text-counting: 12px;
  --text-label: 14px;

  --color-counting: #a3a3a3;
  --color-label: #d4d4d4;
}
